Source: linux-sidux-2.6
Section: kernel
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Standards-Version: 3.9.1
Build-Depends: debhelper (>> 7), cpio, module-init-tools, python, dpkg-dev (>= 1.10.23), gcc-4.4 [amd64 i386]
Build-Depends-Indep: bzip2, findutils (>= 4.2.12)
Vcs-Svn: svn://svn.berlios.de/fullstory/linux-sidux-2.6/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/linux-sidux-2.6/trunk/
Homepage: http://kernel.org/

Package: linux-image-2.6.35-0.slh.4-sidux-amd64
Architecture: amd64
Provides: linux-image, linux-image-2.6, linux-modules-2.6.35-0.slh.4-sidux-amd64
Pre-Depends: debconf | debconf-2.0, dpkg (>= 1.14.21)
Depends: module-init-tools, ${shlibs:Depends}, initramfs-tools (>= 0.93) | linux-initramfs-tool
Recommends: firmware-linux-free (>= 2.6.35)
Suggests: linux-doc-2.6.35, grub2 [amd64], crda [amd64]
Conflicts: initramfs-tools (<< 0.93)
Description: Linux 2.6.35 for 64-bit PCs
 The Linux kernel 2.6.35 and modules for use on PCs with AMD64 or Intel 64
 processors.

Package: linux-image-2.6-sidux-amd64
Architecture: amd64
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-image-2.6.35-0.slh.4-sidux-amd64 (= ${binary:Version})
Recommends: linux-headers-2.6-sidux-amd64 (= ${binary:Version})
Description: Linux image for sidux on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for sidux.

Package: linux-headers-2.6-sidux-amd64
Architecture: amd64
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.35-0.slh.4-sidux-amd64 (= ${binary:Version})
Description: Linux image for sidux on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for sidux.

Package: linux-headers-2.6.35-0.slh.4-sidux-amd64
Architecture: amd64
Provides: linux-headers, linux-headers-2.6
Pre-Depends: dpkg (>= 1.14.21)
Depends: ${shlibs:Depends}, gcc-4.4
Description: Header files for Linux 2.6.35-0.slh.4-sidux-amd64
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.35-0.slh.4-sidux-amd64, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-2.6.35-0.slh.4-sidux-amd64, and can be used for
 building modules that load into the kernel provided by the
 linux-image-2.6.35-0.slh.4-sidux-amd64 package.

Package: linux-image-2.6.35-0.slh.4-sidux-686
Architecture: i386
Provides: linux-image, linux-image-2.6, linux-modules-2.6.35-0.slh.4-sidux-686
Pre-Depends: debconf | debconf-2.0, dpkg (>= 1.14.21)
Depends: module-init-tools, ${shlibs:Depends}, initramfs-tools (>= 0.93) | linux-initramfs-tool
Recommends: firmware-linux-free (>= 2.6.35)
Suggests: linux-doc-2.6.35, grub2 [i386], crda [i386]
Conflicts: initramfs-tools (<< 0.93)
Description: Linux 2.6.35 for modern PCs
 The Linux kernel 2.6.35 and modules for use on PCs with Intel Pentium
 Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom; AMD Geode LX/NX, Athlon
 (K7), Duron, Opteron, Sempron, Turion or Phenom; Transmeta Efficeon; VIA
 C3 "Nehemiah" or C7 processors.

Package: linux-image-2.6-sidux-686
Architecture: i386
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-image-2.6.35-0.slh.4-sidux-686 (= ${binary:Version})
Recommends: linux-headers-2.6-sidux-686 (= ${binary:Version})
Description: Linux image for sidux on modern PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with Intel Pentium Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom;
 AMD Geode LX/NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C3 "Nehemiah" or C7 processors machines for sidux.

Package: linux-headers-2.6-sidux-686
Architecture: i386
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.35-0.slh.4-sidux-686 (= ${binary:Version})
Description: Linux image for sidux on modern PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with Intel Pentium Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom;
 AMD Geode LX/NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C3 "Nehemiah" or C7 processors machines for sidux.

Package: linux-headers-2.6.35-0.slh.4-sidux-686
Architecture: i386
Provides: linux-headers, linux-headers-2.6
Pre-Depends: dpkg (>= 1.14.21)
Depends: ${shlibs:Depends}, gcc-4.4
Description: Header files for Linux 2.6.35-0.slh.4-sidux-686
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.35-0.slh.4-sidux-686, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-2.6.35-0.slh.4-sidux-686, and can be used for
 building modules that load into the kernel provided by the
 linux-image-2.6.35-0.slh.4-sidux-686 package.

