Source: linux-aptosid-2.6
Section: kernel
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.9.3), cpio, module-init-tools, python, dpkg-dev (>= 1.10.23), gcc-4.5 [amd64 i386]
Vcs-Svn: svn://svn.berlios.de/fullstory/linux-aptosid-2.6/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/linux-aptosid-2.6/trunk/
Homepage: http://kernel.org/

Package: linux-image-2.6.38-4.slh.1-aptosid-amd64
Architecture: amd64
Provides: linux-image, linux-image-2.6, linux-modules-2.6.38-4.slh.1-aptosid-amd64
Pre-Depends: debconf | debconf-2.0
Depends: module-init-tools, ${shlibs:Depends}, ${misc:Depends}, initramfs-tools (>= 0.94) [amd64] | linux-initramfs-tool [amd64]
Recommends: firmware-linux-free (>= 2.6.38)
Suggests: linux-doc-2.6.38, crda [amd64], grub-pc [amd64] | extlinux [amd64]
Breaks: initramfs-tools (<< 0.94)
Description: Linux 2.6.38 for 64-bit PCs
 The Linux kernel 2.6.38 and modules for use on PCs with AMD64 or Intel 64
 processors.

Package: linux-image-2.6-aptosid-amd64
Architecture: amd64
Priority: extra
Depends: linux-image-2.6.38-4.slh.1-aptosid-amd64 (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-2.6-aptosid-amd64 (= ${binary:Version})
Description: Linux image for aptosid on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for aptosid.

Package: linux-headers-2.6-aptosid-amd64
Architecture: amd64
Priority: extra
Depends: linux-headers-2.6.38-4.slh.1-aptosid-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux image for aptosid on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for aptosid.

Package: linux-headers-2.6.38-4.slh.1-aptosid-amd64
Architecture: amd64
Provides: linux-headers, linux-headers-2.6
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc-4.5
Description: Header files for Linux 2.6.38-4.slh.1-aptosid-amd64
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.38-4.slh.1-aptosid-amd64, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-2.6.38-4.slh.1-aptosid-amd64, and can be used for
 building modules that load into the kernel provided by the
 linux-image-2.6.38-4.slh.1-aptosid-amd64 package.

Package: linux-image-2.6.38-4.slh.1-aptosid-686
Architecture: i386
Provides: linux-image, linux-image-2.6, linux-modules-2.6.38-4.slh.1-aptosid-686
Pre-Depends: debconf | debconf-2.0
Depends: module-init-tools, ${shlibs:Depends}, ${misc:Depends}, initramfs-tools (>= 0.94) [i386] | linux-initramfs-tool [i386]
Recommends: firmware-linux-free (>= 2.6.38), libc6-i686 [i386]
Suggests: linux-doc-2.6.38, crda [i386], grub-pc [i386] | extlinux [i386]
Breaks: initramfs-tools (<< 0.94)
Description: Linux 2.6.38 for modern PCs
 The Linux kernel 2.6.38 and modules for use on PCs with Intel Pentium
 Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom; AMD Geode LX/NX, Athlon
 (K7), Duron, Opteron, Sempron, Turion or Phenom; Transmeta Efficeon; VIA
 C3 "Nehemiah" or C7 processors.

Package: linux-image-2.6-aptosid-686
Architecture: i386
Priority: extra
Depends: linux-image-2.6.38-4.slh.1-aptosid-686 (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-2.6-aptosid-686 (= ${binary:Version})
Description: Linux image for aptosid on modern PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with Intel Pentium Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom;
 AMD Geode LX/NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C3 "Nehemiah" or C7 processors machines for
 aptosid.

Package: linux-headers-2.6-aptosid-686
Architecture: i386
Priority: extra
Depends: linux-headers-2.6.38-4.slh.1-aptosid-686 (= ${binary:Version}), ${misc:Depends}
Description: Linux image for aptosid on modern PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with Intel Pentium Pro/II/III/4/4M/D/M, Xeon, Celeron, Core or Atom;
 AMD Geode LX/NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C3 "Nehemiah" or C7 processors machines for
 aptosid.

Package: linux-headers-2.6.38-4.slh.1-aptosid-686
Architecture: i386
Provides: linux-headers, linux-headers-2.6
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc-4.5
Description: Header files for Linux 2.6.38-4.slh.1-aptosid-686
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.38-4.slh.1-aptosid-686, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-2.6.38-4.slh.1-aptosid-686, and can be used for
 building modules that load into the kernel provided by the
 linux-image-2.6.38-4.slh.1-aptosid-686 package.

