Source: linux-sidux-2.6
Section: devel
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 6), module-init-tools, dpkg-dev (>= 1.10.23), kernel-package (>= 10.063), python
Build-Depends-Indep: bzip2, findutils (>= 4.2.12), python-central
XS-Python-Version: current

Package: linux-support-2.6.27-7.slh.4
Architecture: all
Section: devel
Priority: optional
Pre-Depends: dpkg (>= 1.14.21)
Depends: ${python:Depends}
Description: Support files for Linux 2.6.27
 This package provides support files for the Linux kernel build.
XB-Python-Version: ${python:Versions}

Package: linux-support-sidux-2.6
Architecture: all
Section: devel
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-support-2.6.27-7.slh.4 (= ${binary:Version})
Description: Meta package for sidux Support files
 This package pulls in the support files for the current Linux kernel build
 for sidux.

Package: linux-headers-2.6.27-7.slh.4-all
Architecture: amd64 i386
Section: devel
Priority: optional
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-all-${kernel:Arch} (= ${binary:Version})
Description: All header files for Linux 2.6.27
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 2.6.27, generally used for building out-of-tree
 kernel modules.

Package: linux-headers-2.6.27-7.slh.4-all-amd64
Architecture: amd64
Section: devel
Priority: optional
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-sidux-amd64 (= ${binary:Version})
Description: All header files for Linux 2.6.27
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 2.6.27, generally used for building out-of-tree
 kernel modules.

Package: linux-headers-2.6.27-7.slh.4-common
Architecture: amd64 i386
Section: devel
Priority: optional
Pre-Depends: dpkg (>= 1.14.21)
Description: Common header files for Linux 2.6.27-7.slh.4
 This package provides the architecture-specific common kernel header files
 for Linux kernel version 2.6.27-7.slh.4,  generally used for building
 out-of-tree kernel modules.  To obtain a complete set of headers you also
 need to install the linux-headers-2.6.27-7.slh.4-(flavour)  package,
 matching the flavour of the kernel you intend the build for.

Package: linux-image-2.6.27-7.slh.4-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: linux-image, linux-image-2.6, linux-modules-2.6.27-7.slh.4-sidux-amd64
Pre-Depends: debconf | debconf-2.0, dpkg (>= 1.14.21)
Depends: module-init-tools, initramfs-tools (>= 0.55) | yaird (>= 0.0.13) | linux-initramfs-tool
Suggests: linux-doc-2.6.27, grub-gfxboot | grub | grub2 | lilo
Conflicts: initramfs-tools (<< 0.55), yaird (<< 0.0.13)
Description: Linux 2.6.27 image on AMD64
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 2.6.27 on all 64bit single- and multiprocessor AMD and Intel
 machines.

Package: linux-image-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-image-2.6.27-7.slh.4-sidux-amd64 (= ${binary:Version})
Recommends: linux-headers-2.6-sidux-amd64 (= ${binary:Version})
Description: Linux image for sidux on AMD64
 This package depends on the latest binary image for Linux kernel on all
 64bit single- and multiprocessor AMD and Intel machines for sidux.

Package: linux-headers-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-sidux-amd64 (= ${binary:Version})
Description: Linux image for sidux on AMD64
 This package depends on the latest binary image for Linux kernel on all
 64bit single- and multiprocessor AMD and Intel machines for sidux.

Package: linux-headers-2.6.27-7.slh.4-sidux-amd64
Architecture: amd64
Section: devel
Priority: optional
Provides: linux-headers, linux-headers-2.6
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-common (= ${binary:Version}), linux-kbuild-2.6.27, gcc-4.3
Description: Header files for Linux 2.6.27-7.slh.4-sidux-amd64
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.27-7.slh.4-sidux-amd64,  generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-2.6.27-7.slh.4-sidux-amd64,  and can be used for
 building modules that load into the kernel provided by the
 linux-image-2.6.27-7.slh.4-sidux-amd64  package.

Package: linux-headers-2.6.27-7.slh.4-all-i386
Architecture: i386
Section: devel
Priority: optional
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-sidux-686 (= ${binary:Version})
Description: All header files for Linux 2.6.27
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 2.6.27, generally used for building out-of-tree
 kernel modules.

Package: linux-image-2.6.27-7.slh.4-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: linux-image, linux-image-2.6, linux-modules-2.6.27-7.slh.4-sidux-686
Pre-Depends: debconf | debconf-2.0, dpkg (>= 1.14.21)
Depends: module-init-tools, initramfs-tools (>= 0.55) | yaird (>= 0.0.13) | linux-initramfs-tool
Recommends: libc6-i686
Suggests: linux-doc-2.6.27, grub-gfxboot | grub | grub2 | lilo
Conflicts: initramfs-tools (<< 0.55), yaird (<< 0.0.13)
Description: Linux 2.6.27 image on PPro/Celeron/PII/PIII/P4
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 2.6.27 on Pentium Pro/Celeron/Pentium II/Pentium III/Pentium
 4 machines.

Package: linux-image-2.6-sidux-686
Architecture: i386
Section: admin
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-image-2.6.27-7.slh.4-sidux-686 (= ${binary:Version})
Recommends: linux-headers-2.6-sidux-686 (= ${binary:Version})
Description: Linux image for sidux on PPro/Celeron/PII/PIII/P4
 This package depends on the latest binary image for Linux kernel on
 Pentium Pro/Celeron/Pentium II/Pentium III/Pentium 4 machines for sidux.

Package: linux-headers-2.6-sidux-686
Architecture: i386
Section: admin
Priority: extra
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-sidux-686 (= ${binary:Version})
Description: Linux image for sidux on PPro/Celeron/PII/PIII/P4
 This package depends on the latest binary image for Linux kernel on
 Pentium Pro/Celeron/Pentium II/Pentium III/Pentium 4 machines for sidux.

Package: linux-headers-2.6.27-7.slh.4-sidux-686
Architecture: i386
Section: devel
Priority: optional
Provides: linux-headers, linux-headers-2.6
Pre-Depends: dpkg (>= 1.14.21)
Depends: linux-headers-2.6.27-7.slh.4-common (= ${binary:Version}), linux-kbuild-2.6.27, gcc-4.3
Description: Header files for Linux 2.6.27-7.slh.4-sidux-686
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.27-7.slh.4-sidux-686,  generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-2.6.27-7.slh.4-sidux-686,  and can be used for
 building modules that load into the kernel provided by the
 linux-image-2.6.27-7.slh.4-sidux-686  package.

